In [2]:
# import netCDF4
import pandas as pd
import datetime as dt
import numpy as np
import csv
import calendar

import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir) 
from environmentVariables import environment_variables

In [3]:
user_key=environment_variables['eshta']
pd.set_option('display.precision', 12)

# INPUT

In [4]:
# read files

data_one=pd.read_csv(user_key['model_raw_unclean']+'pr/pr_extrTO_1986-1990.csv')
data_two=pd.read_csv(user_key['model_raw_unclean']+'pr/pr_extrTO_1991-1995.csv')
data_three=pd.read_csv(user_key['model_raw_unclean']+'pr/pr_extrTO_1996-2000.csv')
data_four=pd.read_csv(user_key['model_raw_unclean']+'pr/pr_extrTO_2001-2005.csv')

# MERGE

In [5]:
frames = [data_one, data_two, data_three, data_four]
result = pd.concat(frames)

In [6]:
frames

[            Date      Variable
 0     1986-01-01  0.0001428620
 1     1986-01-02  0.0000000443
 2     1986-01-03  0.0000000314
 3     1986-01-04  0.0000000000
 4     1986-01-05  0.0000000120
 ...          ...           ...
 1820  1990-12-27  0.0000000000
 1821  1990-12-28  0.0000000153
 1822  1990-12-29  0.0000000119
 1823  1990-12-30  0.0000000000
 1824  1990-12-31  0.0000025600

 [1825 rows x 2 columns],
             Date     Variable
 0     1991-01-01  0.000014500
 1     1991-01-02  0.000036200
 2     1991-01-03  0.000008320
 3     1991-01-04  0.000000309
 4     1991-01-05  0.000001940
 ...          ...          ...
 1820  1995-12-27  0.000001630
 1821  1995-12-28  0.000139586
 1822  1995-12-29  0.000000301
 1823  1995-12-30  0.000000377
 1824  1995-12-31  0.000017300

 [1825 rows x 2 columns],
             Date      Variable
 0     1996-01-01  0.0000000569
 1     1996-01-02  0.0000001680
 2     1996-01-03  0.0000371000
 3     1996-01-04  0.0000000981
 4     1996-01-05  0.0000743000
 ...          ...           ...
 1820  2000-12-27  0.0000189000
 1821  2000-12-28  0.0000004730
 1822  2000-12-29  0.0000380000
 1823  2000-12-30  0.0000000000
 1824  2000-12-31  0.0000021600

 [1825 rows x 2 columns],
             Date      Variable
 0     2001-01-01  0.0000000000
 1     2001-01-02  0.0000031300
 2     2001-01-03  0.0000719000
 3     2001-01-04  0.0000208000
 4     2001-01-05  0.0000831000
 ...          ...           ...
 1820  2005-12-27  0.0000000000
 1821  2005-12-28  0.0000000376
 1822  2005-12-29  0.0000403000
 1823  2005-12-30  0.0000082100
 1824  2005-12-31  0.0001298470

 [1825 rows x 2 columns]]

In [7]:
result.to_csv(user_key['model_raw_clean']+'pr/pr_all_extrTO_1986-2005.csv', index=None)