In [2]:
# import netCDF4
import pandas as pd
import datetime as dt
import numpy as np
import csv
import calendar

import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir) 
from environmentVariables import environment_variables

In [4]:
# read files
selections=pd.read_csv('AutomatedSteps/optionSelection.csv', header=[0])
for index, row in selections.iterrows():
    if selections.at[index,'option'] == 'variable':
        variable = selections.at[index,'selection']
        
        
data=pd.read_csv('AutomatedSteps/'+variable +'.csv')
observedData=pd.read_csv('AutomatedSteps/userInput.csv')

# conversion equation based on variable name
variableName = variable

In [5]:
#print(data)

            Date      Variable
0     1986-01-01  0.0001428620
1     1986-01-02  0.0000000443
2     1986-01-03  0.0000000314
3     1986-01-04  0.0000000000
4     1986-01-05  0.0000000120
...          ...           ...
7295  2005-12-27  0.0000000000
7296  2005-12-28  0.0000000376
7297  2005-12-29  0.0000403000
7298  2005-12-30  0.0000082100
7299  2005-12-31  0.0001298470

[7300 rows x 2 columns]

In [6]:

# loop through the rows creating a new converted column    
row_iterator = data.iterrows()   
for i, row in row_iterator:
    currVar = (data.at[i,'Variable'])
    if (currVar != "Variable" ):
        if (variableName == "pr"):
            #1 kg/m2/s = 86400 mm/day
            data.at[i, 'Variable_converted'] = (float(currVar) *  (86400))
        elif (variableName == "ps"):
            #1 pa	0.001 kP
             data.at[i, 'Variable_converted'] = (float(currVar) *  (0.001))
        elif (variableName == "rlds"):
            data.at[i, 'Variable_converted'] = (float(currVar))
        elif (variableName == "sfcWind"):
            #1 m/s	3.6km/h
            data.at[i, 'Variable_converted'] = (float(currVar) *  (3.6))
        elif (variableName == "sfcWindmax"):
            #1 m/s	3.6km/h
            data.at[i, 'Variable_converted'] = (float(currVar) *  (3.6))
        elif (variableName == "tas"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
        elif (variableName == "tasmax"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
        elif (variableName == "tasmin"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
                                  
        
#print(data)

row_iterator2 = observedData.iterrows()   
for i, row in row_iterator2:
    if (variableName == "sfcWind"):
        currVar = (observedData.at[i,'WS10M'])
        #1 m/s	3.6km/h
        observedData.at[i, 'WS10M'] = (float(currVar) *  (3.6))
    elif (variableName == "sfcWindmax"):
        currVar = (observedData.at[i,'WS10M_MAX'])
        #1 m/s	3.6km/h
        observedData.at[i, 'WS10M_MAX'] = (float(currVar) *  (3.6))
                        
#print(observedData)

            Date      Variable  Variable_converted
0     1986-01-01  0.0001428620         12.34327680
1     1986-01-02  0.0000000443          0.00382752
2     1986-01-03  0.0000000314          0.00271296
3     1986-01-04  0.0000000000          0.00000000
4     1986-01-05  0.0000000120          0.00103680
...          ...           ...                 ...
7295  2005-12-27  0.0000000000          0.00000000
7296  2005-12-28  0.0000000376          0.00324864
7297  2005-12-29  0.0000403000          3.48192000
7298  2005-12-30  0.0000082100          0.70934400
7299  2005-12-31  0.0001298470         11.21878080

[7300 rows x 3 columns]

In [7]:
# delete unnecessary columns
del data['Variable']

# rename column
data = data.rename(columns={'Variable_converted': 'Variable'})

In [8]:
data

            Date     Variable
0     1986-01-01  12.34327680
1     1986-01-02   0.00382752
2     1986-01-03   0.00271296
3     1986-01-04   0.00000000
4     1986-01-05   0.00103680
...          ...          ...
7295  2005-12-27   0.00000000
7296  2005-12-28   0.00324864
7297  2005-12-29   3.48192000
7298  2005-12-30   0.70934400
7299  2005-12-31  11.21878080

[7300 rows x 2 columns]

In [9]:
data.to_csv('AutomatedSteps/'+variable +'_converted.csv', index=None)
observedData.to_csv('AutomatedSteps/userInput.csv', index=None)