In [1]:
# import netCDF4
import pandas as pd
import datetime as dt
import numpy as np
import csv
import calendar

import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
#parent_dir = os.paths.dirname(current_dir)
sys.path.insert(0, current_dir) 
from environmentVariables import environment_variables

In [2]:
user_key=environment_variables['eshta']
pd.set_option('display.precision', 12)

# INPUT

In [39]:
# read files

data_one=pd.read_csv(user_key['extracted_loc_raw']+'/model_raw_clean/tasmin/tasmin_extrTO_1986-1990.csv')
data_two=pd.read_csv(user_key['extracted_loc_raw']+'/model_raw_clean/tasmin/tasmin_extrTO_1991-1995.csv')
data_three=pd.read_csv(user_key['extracted_loc_raw']+'/model_raw_clean/tasmin/tasmin_extrTO_1996-2000.csv')
data_four=pd.read_csv(user_key['extracted_loc_raw']+'/model_raw_clean/tasmin/tasmin_extrTO_2001-2005.csv')

# MERGE

In [40]:
frames = [data_one, data_two, data_three, data_four]
result = pd.concat(frames)

In [41]:
frames

[            Date   Variable
 0     1986-01-01  268.80533
 1     1986-01-02  265.16980
 2     1986-01-03  263.51825
 3     1986-01-04  260.85720
 4     1986-01-05  260.72842
 ...          ...        ...
 1820  1990-12-27  267.58475
 1821  1990-12-28  265.32404
 1822  1990-12-29  261.41806
 1823  1990-12-30  262.80725
 1824  1990-12-31  271.83908

 [1825 rows x 2 columns],
             Date   Variable
 0     1991-01-01  272.68848
 1     1991-01-02  275.27792
 2     1991-01-03  269.37520
 3     1991-01-04  268.46545
 4     1991-01-05  268.91818
 ...          ...        ...
 1820  1995-12-27  273.05933
 1821  1995-12-28  274.81522
 1822  1995-12-29  272.51288
 1823  1995-12-30  271.85670
 1824  1995-12-31  273.43765

 [1825 rows x 2 columns],
             Date   Variable
 0     1996-01-01  272.04855
 1     1996-01-02  271.95550
 2     1996-01-03  273.07135
 3     1996-01-04  271.22845
 4     1996-01-05  264.83432
 ...          ...        ...
 1820  2000-12-27  269.15854
 1821  2000-12-28  268.64300
 1822  2000-12-29  270.31110
 1823  2000-12-30  266.61163
 1824  2000-12-31  269.01500

 [1825 rows x 2 columns],
             Date   Variable
 0     2001-01-01  266.12506
 1     2001-01-02  267.93008
 2     2001-01-03  270.53894
 3     2001-01-04  276.02680
 4     2001-01-05  272.79110
 ...          ...        ...
 1820  2005-12-27  272.24738
 1821  2005-12-28  272.01850
 1822  2005-12-29  274.22223
 1823  2005-12-30  273.85046
 1824  2005-12-31  273.55300

 [1825 rows x 2 columns]]

In [42]:
result.to_csv(user_key['extracted_loc_raw']+'/model_raw_clean/tasmin/tasmin_all_extrTO_1986-2005.csv', index=None)