In [5]:
# import netCDF4
import pandas as pd
import datetime as dt
import numpy as np
import csv
import calendar

import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
#parent_dir = os.paths.dirname(current_dir)
sys.path.insert(0, current_dir) 
from environmentVariables import environment_variables

In [6]:
user_key=environment_variables['eshta']
pd.set_option('display.precision', 12)

In [7]:
# read files
data=pd.read_csv(user_key['extracted_loc_raw']+'/model_raw_clean/ps/ps_all_extrTO_1986-2005.csv')

# conversion equation based on variable name
variableName = "ps"

In [8]:
print(data)

            Date            Variable
0     1986-01-01  97515.309999999998
1     1986-01-02  97077.630000000005
2     1986-01-03  98453.979999999996
3     1986-01-04  99253.850000000006
4     1986-01-05  98786.550000000003
...          ...                 ...
7295  2005-12-27  98315.250000000000
7296  2005-12-28  98460.229999999996
7297  2005-12-29  96754.169999999998
7298  2005-12-30  97228.089999999997
7299  2005-12-31  96740.229999999996

[7300 rows x 2 columns]

In [9]:

# loop through the rows creating a new converted column    
row_iterator = data.iterrows()   
for i, row in row_iterator:
    currVar = (data.at[i,'Variable'])
    if (currVar != "Variable" ):
        if (variableName == "pr"):
            #1 kg/m2/s = 86400 mm/day
            data.at[i, 'Variable_converted'] = (float(currVar) *  (86400))
        elif (variableName == "ps"):
            #1 pa	0.001 kP
             data.at[i, 'Variable_converted'] = (float(currVar) *  (0.001))
        elif (variableName == "rlds"):
            data.at[i, 'Variable_converted'] = (float(currVar))
        elif (variableName == "sfcWind"):
            #1 m/s	3.6km/h
            data.at[i, 'Variable_converted'] = (float(currVar) *  (3.6))
        elif (variableName == "sfcWindmax"):
            #1 m/s	3.6km/h
            data.at[i, 'Variable_converted'] = (float(currVar) *  (3.6))
        elif (variableName == "tas"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
        elif (variableName == "tasmax"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
        elif (variableName == "tasmin"):
            # 1K = -273 degrees celsius
            data.at[i, 'Variable_converted'] = (float(currVar) - (273.15))
                                  
        
print(data)

            Date            Variable  Variable_converted
0     1986-01-01  97515.309999999998            97.51531
1     1986-01-02  97077.630000000005            97.07763
2     1986-01-03  98453.979999999996            98.45398
3     1986-01-04  99253.850000000006            99.25385
4     1986-01-05  98786.550000000003            98.78655
...          ...                 ...                 ...
7295  2005-12-27  98315.250000000000            98.31525
7296  2005-12-28  98460.229999999996            98.46023
7297  2005-12-29  96754.169999999998            96.75417
7298  2005-12-30  97228.089999999997            97.22809
7299  2005-12-31  96740.229999999996            96.74023

[7300 rows x 3 columns]

In [10]:
# delete unnecessary columns
del data['Variable']

# rename column
data = data.rename(columns={'Variable_converted': 'Variable'})

In [11]:
data

            Date  Variable
0     1986-01-01  97.51531
1     1986-01-02  97.07763
2     1986-01-03  98.45398
3     1986-01-04  99.25385
4     1986-01-05  98.78655
...          ...       ...
7295  2005-12-27  98.31525
7296  2005-12-28  98.46023
7297  2005-12-29  96.75417
7298  2005-12-30  97.22809
7299  2005-12-31  96.74023

[7300 rows x 2 columns]

In [12]:
data.to_csv(user_key['extracted_loc_raw']+'/model_raw_clean/ps/ps_allCONV_extrTO_1986-2005.csv', index=None)